.DS_Store
vimified/tmp/undo/*
vimified/tmp/backup/*
vimified/tmp/swap/*
vimified/bundle/*
vimified/tmp/yankring_history_v2.txt
vimified/.netrwhist
var/cache/salt/*
var/log/salt/*
.zshell/history*
.zshell/.zcompdump
.config/fish/generated_completions/
.config/fish/fish_history
.config/fish/fishd*
.config/gh-update
.config/hub
.config/gh
.config/alot/
.config/astroid/
.config/chessx/
.config/fish/config.orig
.config/fish/race_test_history
.config/htop/
.config/xm1/