[submodule "spacemacs"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "tackle"]
	path = .tackle
	url = https://github.com/justinmayer/tackle
[submodule "tacklebox"]
	path = tacklebox
	url = https://github.com/justinmayer/tacklebox
