[user]
	name = C. R. Oldham
	email = cro@ncbt.org
[push]
	default = matching
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts $EDITOR $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
